version: 2
jobs:
  build:
    working_directory: /var/app
    docker:
      - image: node:latest
    steps:
      - checkout
      - run: yarn install --force
      - run: yarn test
      - run: yarn run -- build
