.app
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  padding-top: 2.6rem

.screen
  height: 90vh
  max-height: 90vh
  overflow: auto

.navigation
  background: #f4f5f6
  border-bottom: .1rem solid #d1d1d1
  height: 5.2rem
  line-height: 5.2rem
  width: 100vw
  max-width: 100vw
  position: fixed
  top: -5.2rem
  transition: .5s
  &:hover
    top: 0
