.app
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  padding-top: 1rem
.screen
  height: 90vh
  max-height: 90vh
  overflow: auto

.navigation
  transition: .5s
  position: fixed
  top: -1.5rem
  right: 0.5rem
  &:hover
    top: 1.5rem

.navigation button
  transition: .5s

.icon
  fill: #ccc
