h1
  .emojione
    height: 4.6rem
    width: 4.6rem
    bottom: -1.15rem

h2
  .emojione
    height: 3.6rem
    width: 3.6rem
    bottom: -0.9rem

h3
  .emojione
    height: 2.6rem
    width: 2.6rem
    bottom: -0.65rem

.emojione
  width: 1.6rem
  height: 1.6rem
  position: relative
  bottom: -0.4rem
